#sidebar {
  position: fixed;
  top: 0;
  overflow-y: auto;
  height: 100%;
  z-index: 2000;
  background-color: #6e9c79!important;
}
#sidebar-mobile {
  height: 100%;
  z-index: 2000;
  background-color: #559c67!important;
}
#sidebar-mobile .btn-close {
  background: none;
  opacity: 1;
}
#sidebar-mobile .btn-close i {
  color: white;
  font-size: 1.5rem;
}
#lc-logo {
  width: 2rem;
  margin-right: 1rem;
}
.link-light, .link-light:hover {
  color: $clr-light-grey;
}
.btn-toggle-nav li a {
  display: block;
  margin-left: 1.5rem;
  margin-top: 0.4rem;
}
.btn-toggle-nav {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.sidebar-item {
  padding: 0;
  margin-top: 0.5rem;
  font-size: inherit;
}
#sidebar i {
  width: 1.5rem;
  text-align: left;
}
.btn-toggle::after {
  content: url('/assets/img/arrow-right-white.svg');
  width: 8px;
  height: auto;
  position: absolute;
  right: -22px;
  top: 2px;
  transition: transform .35s ease;
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}